<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-6">
            <div data-ng-controller="NavCtrl" class="list-group">
                <div class="list-group-item"><strong>Nested menu</strong></div>
                <a href="/private" active-nav class="list-group-item">Nested view</a>
                <a href="/private/nested" active-nav class="list-group-item">Another nested view</a>
                <a href="/private/admin" active-nav data-access-level="accessLevels.admin" class="list-group-item">
                    A nested admin view
                </a>
            </div>
        </div>
        <div data-ui-view class="col-md-6 col-md-pull-4"></div>
    </div>
</div>