<!DOCTYPE html>
<html lang="en" data-ng-app="angular-client-side-auth">
<head><title></title><!-- Viewport mobile tag for sensible mobile support-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- STYLES-->
    <link href="/styles/importer.css" rel="stylesheet">
    <!-- STYLES END--></head>
<body>

<div data-ng-controller="NavCtrl" class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li data-access-level="accessLevels.anon" active-nav>
                    <a href="/login" translate="index.nav_login"></a>
                </li>
                <li data-access-level="accessLevels.anon" active-nav>
                    <a href="/register" translate="index.nav_register"></a>
                </li>
                <li data-access-level="accessLevels.user" active-nav>
                    <a href="/" translate="index.nav_home"></a>
                </li>
                <li data-access-level="accessLevels.user" active-nav>
                    <a href="/private" translate="index.nav_private"></a>
                </li>
                <li data-access-level="accessLevels.admin" active-nav>
                    <a href="/admin" translate="index.nav_admin"></a>
                </li>
                <li data-access-level="accessLevels.user">
                    <a href="" data-ng-click="logout()" translate="index.nav_logout"></a>
                </li>
                <li data-access-level="accessLevels.user">
                    <a href="" data-ng-click="delete()" translate="index.nav_delete"></a>
                </li>


                <li>
                    <a href="" data-ng-click="changeLanguage('es')" translate="index.nav_spanish"></a>
                </li>
                <li>
                    <a href="" data-ng-click="changeLanguage('en')" translate="index.nav_english"></a>
                </li>

                <div id="userInfo" data-access-level="accessLevels.user" class="nav navbar-nav navbar-right" style="width: 200px">
                    {{ 'index.nav_user_welcome' | translate }} <strong> {{ user.username }} </strong>
                    <span data-ng-class="{'label-info': user.role.title == userRoles.user.title, 'label-success': user.role.title == userRoles.admin.title}" class="label">
                        {{ user.role.title }}
                    </span>
                </div>


            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div ng-include="'/templates/others/errors.html'"></div>
    <div class="ui-view-container">
        <div ui-view></div>
    </div>
    <div ng-include="'/templates/others/messages_socket.html'"></div>
</div>

<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
<script type="text/javascript" src="/bower_components/angular-translate/angular-translate.min.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/sails.io.js"></script>
<script type="text/javascript" src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-re-captcha/angular-re-captcha.js"></script>

<script type="text/javascript" src="/js/app/routingConfig.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<script type="text/javascript" src="/js/app/services.js"></script>
<script type="text/javascript" src="/js/app/controllers.js"></script>
<script type="text/javascript" src="/js/app/filters.js"></script>
<script type="text/javascript" src="/js/app/directives.js"></script>
<script type="text/javascript" src="/js/app/constantsPublic.js"></script>
<script type="text/javascript" src="/js/app/langs/lang_en-en.js"></script>
<script type="text/javascript" src="/js/app/langs/lang_es-es.js"></script>


</body>
</html>