<h1 translate="admin.title"></h1>
<p translate="admin.desc"></p>
<table data-ng-hide="loading" class="table table-striped">
    <thead>
    <tr>
        <th translate="admin.col_1"></th>
        <th translate="admin.col_username"></th>
        <th translate="admin.col_role"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in users">
        <td>{{ user.id }}</td>
        <td>
            {{ user.username }}
        </td>
        <td>
            <span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}" class="label">{{ user.role.title }}</span>
        </td>
    </tr>
    </tbody>
</table>